html{
	font-family: arial;
}

.menu:after{
	content:"";
	display:block;
	clear:both;
}

.menu li{
	float:left;
	list-style: none;
	font-size:15px;
	padding-left: 30px;
}
.menu{
	margin: 0px;
	padding: 0px;
}

.image {
	background:url(images/background.jpg) no-repeat;
	height: 400px;
	color:white;
	background-position: 96% 4%;
	margin: auto;
}

h1{
	text-align: center;
	display: block;
	position: relative;
	top: 150px;
	margin:auto;
	font-weight: normal;
	font-size: 47px;
}

.container {
	width: 920px;
	margin: auto;
	position: relative;
	top: 20px;
}

.tab1 {
	list-style:none;
	display: block;
	float: left;
	background: #65A665;
	color: white;
	text-align: center;
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	box-sizing: border-box;
	width: 290px;
	height: 190px;
	padding: 25px 50px 20px 50px;
	margin-right: 20px;
	margin-bottom: 0px;
}

.tab2 {
	list-style: none;
	display: block;
	background: #00478F;
	color: white;
	text-align: center;
	float: left;
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	box-sizing: border-box;
	width: 290px;
	height: 190px;
	padding: 25px 50px 20px 50px;
	margin-right: 20px;
	margin-bottom: 0px;
}

.tab3 {
	list-style: none;
	display: block;
	background: black;
	color: white;
	text-align: center;
	float: left;
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	box-sizing: border-box;
	width: 290px;
	height: 190px;
	padding: 25px 50px 20px 50px;
	margin-bottom: 0px;
}

h2 {
	font-size: 80px;
	font-weight: normal;
	margin:auto;
}

h3 {
	margin:auto;
	font-weight: normal;
	color: #f0f0f0;
	opacity: 0.4;
}

.option:after{
	content:"";
	display:block;
	clear:both;
}

.option1 {
	list-style:none;
	float: left;
	text-align: center;
	height: 300px;
	padding: 0px;
	margin: 0px;
}

.option li {
	border-bottom: 1px solid #d8d8d8;	
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	font-size: 14px;
	width: 267px;
	padding: 10px;
	background: #f7f7f7;
}

.option2 {
	list-style:none;
	float: left;
	text-align: center;
	height: 400px;
	padding: 0px;
	padding-left: 21px;
	margin: 0px;
}

.option3 {
	list-style:none;
	float: left;
	text-align: center;
	height: 400px;
	padding: 0px;
	padding-left: 22px;
	margin: 0px;
}
 .button {
 	position:absolute;
 	float: left;
 }
