html{
	font-family: arial;
}

.menu:after{
	content:"";
	display:block;
	clear:both;
}

.menu li{
	float:left;
	list-style: none;
	font-size:15px;
	color: gray;
	padding-left: 30px;
}

.menu .pr {
	color:black;
}

.menu{
	margin: 10px;
	padding: 0px;
}

.image {
	background:url(images/background.jpg) no-repeat;
	height: 400px;
	color:white;
	background-position: 96% 4%;
	margin: auto;
}

h1{
	text-align: center;
	display: block;
	position: relative;
	top: 150px;
	margin:auto;
	font-weight: normal;
	font-size: 47px;
}

.container {
	width: 935px;
	height: 600px;
	margin: auto;
	position: relative;
	top: 20px;
}

.tab1 {
	list-style:none;
	display: block;
	float: left;
	background: #65A665;
	color: white;
	text-align: center;
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	box-sizing: border-box;
	width: 290px;
	height: 190px;
	padding: 25px 50px 20px 50px;
	margin-right: 20px;
	margin-bottom: 0px;
}

.tab2 {
	list-style: none;
	display: block;
	background: #00478F;
	color: white;
	text-align: center;
	float: left;
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	box-sizing: border-box;
	width: 290px;
	height: 190px;
	padding: 25px 50px 20px 50px;
	margin-right: 20px;
	margin-bottom: 0px;
}

.tab3 {
	list-style: none;
	display: block;
	background: black;
	color: white;
	text-align: center;
	float: left;
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	border-top: 1px solid #d8d8d8;
	box-sizing: border-box;
	width: 290px;
	height: 190px;
	padding: 25px 50px 20px 50px;
	margin-bottom: 0px;
}

h2 {
	font-size: 80px;
	font-weight: normal;
	margin:auto;
}

h3 {
	margin:auto;
	font-weight: normal;
	color: #f0f0f0;
	opacity: 0.4;
}

.option1 {
	list-style:none;
	float: left;
	text-align: center;
	height: 258px;
	padding: 0px;
	margin: 0px;
}

.option li {
	border-bottom: 1px solid #d8d8d8;	
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	font-size: 14px;
	width: 267px;
	height: 22px;
	padding: 10px;
	background: #f7f7f7;
}

.option2 {
	list-style:none;
	float: left;
	text-align: center;
	height: 258px;
	padding: 0px;
	padding-left: 21px;
	margin: 0px;
}

.button {
 	float:left;
 	box-sizing: border-box;
	border-bottom: 1px solid #d8d8d8;	
	border-right: 1px solid #d8d8d8;
	border-left: 1px solid #d8d8d8;
	width: 289px;
	height: 90px;
	margin-right: 21px;
	padding: 14px 85px 10px 90px;
}

button {
 	border: 1px solid #d8d8d8;
 	border-radius: 30px;
 	padding: 8px 12px 8px 12px;
 	margin: 10px;
 	background: none;
 	font-weight: bold;
}
.p_container{
	position: relative;
	width: 890px;
	height: 250px;
	margin: auto;
	top: 35px;
}

.clearfix:after{
	content:"";
	display:block;
	clear:both;
}

.start {
	width: 410px;
	height: 180px;
	float: left;
	margin-left: 10px;
}

.pay {
	width: 410px;
	height: 180px;
	float: left;
	margin-left: 35px;
}

.cust_sup {
	width: 410px;
	float: left;
	margin-left: 10px;
}

.cancel {
	width: 410px;
	float: left;
	margin-left: 35px;
}

h4 {
	font-size: 18px;
	margin:0px;
	margin-bottom: 10px;
}

p {
	font-size: 15px;
	margin: 0px;
}

.footer {
 	background: black;
 	color: gray;
 	text-align: center;
 	height: 90px;
 	margin: 0px;
 	margin-top:120px;
}

footer {
	padding-top: 40px;
}

a {
	color: white;
}